@model Note
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="w-25 note box-shadow mb-3">
    <header class="d-flex justify-content-between align-items-center">
        <h4>@Model.Title</h4>
    </header>

    <hr>
    <div class="d-flex justify-content-between">
        <p class="desc">@Model.Description</p>
    </div>
    <a asp-action="Details" asp-route-id="@Model.Id">Details</a>
    @if (User?.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value == Model.UserId)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    }
</div>